
@*<Row Style="height: 100%">
    <div style="background-color: aquamarine;background:url( data:image/jpg;base64,@Convert.ToBase64String(Picture) ); background-size: cover;
        background-position: center; background-repeat: no-repeat;">
        <AntDesign.Col Span="24">
            <h3>@Title</h3>
            <p>@Text</p>
        </AntDesign.Col>
        
    </div>
</Row>*@

<div>
    <Carousel Autoplay="TimeSpan.FromSeconds(2)">
        <CarouselSlick>
            <div style="width:100%; height: 500px; background-color: aquamarine; background: url( data:image/jpg;base64, @Convert.ToBase64String(Picture) ); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <AntDesign.Col Span="24">
                    <h3>@Title</h3>
                    <p>@Text</p>
                </AntDesign.Col>
            </div>
        </CarouselSlick>
        <CarouselSlick>
            <div style=" width:100%; height:500px; background-color:aquamarine;background:url( data:image/jpg;base64,@Convert.ToBase64String(Picture) ); background-size: cover;
                background-position: center; background-repeat: no-repeat;">
                <AntDesign.Col Span="24">
                    <h3>@Title</h3>
                    <p>@Text</p>
                </AntDesign.Col>
            </div>
        </CarouselSlick>
    </Carousel>
</div>



@code {

    [Parameter]
    public byte[] Picture { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Text { get; set; }
}
