@page "/cms/users"
@layout CmsLayout
@inject IDbContextFactory<TeacherContext> DbFactory
@inject NavigationManager NavManager
@inject AuthenticationStateProvider provider
@using System.Text.Json;
@namespace TeacherWebSiteApp.Page.CMS.Users

<h3>Пользователи</h3>
<ValidationBlock Messages="messages" />

<div style="margin-right: 200px">
    <Form Model="reg"
          LabelColSpan="8"
          WrapperColSpan="16">
        <FormItem Label="Имя пользователя">
            <Input @bind-Value="@context.UserName" />
        </FormItem>
        <FormItem Label="Логин">
            <Input @bind-Value="@context.Login" />
        </FormItem>
        <FormItem Label="Password">
            <InputPassword @bind-Value="@context.Password" />
        </FormItem>
        <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <AntDesign.Button Type="@AntDesign.ButtonType.Primary" @onclick="Register" HtmlType="submit">
                Добавить
            </AntDesign.Button>
        </FormItem>
    </Form>
</div>


<hr />
<div>
    <h3>Список пользователей</h3>
    <MudSimpleTable Hover="@true" Bordered="@true" Striped="@true" Style="overflow-x: auto;">
        <thead>
            <tr>
                @foreach (var h in headings)
                {

                    <th>@h</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                int id = user.Id;
                <tr>
                    <td>@id</td>
                    <td>@user.Name</td>
                    <td>@user.Login</td>
                    <td><a href="/cms/password/@id">Изменить пароль</a></td>
                    <td>
                        <a style="cursor:pointer; color:brown" @onclick="() => DeleteAsync(id)">Удалить</a>

                    </td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
</div>

@code {
    bool loading = false;
    string[] messages = new string[] { };
    string[] headings = { "ID", "Имя пользователя", "Логин", "Пароль" };
    List<User> users = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        users = await context.Users.ToListAsync();
    }

    private async Task DeleteAsync(int id)
    {
        using var context = DbFactory.CreateDbContext();
        if (context.Users.Count() == 1)
        {
            messages = new string[] { "Нельзя удалить последнего пользователя" };
            return;
        }
        var user = await context.Users.FirstOrDefaultAsync(x => x.Id == id);
        context.Users.Remove(user);
        await context.SaveChangesAsync();
        NavManager.NavigateTo("/cms/users", true);
    }

    RegisterVM reg = new();

    bool Validate()
    {
        List<string> problems = new List<string>();
        if (string.IsNullOrEmpty(reg.Login)) problems.Add(@"'Логин' должно быть заполнено");
        else if (reg.Login.Length > 50) problems.Add(@"'Логин' должно быть не более 50 символов");

        if (string.IsNullOrEmpty(reg.Password)) problems.Add(@"'Пароль' должно быть заполнено");

        if (!string.IsNullOrEmpty(reg.UserName) && reg.UserName.Length > 100)
            problems.Add(@"'Имя' должно быть не более 100 символов");

        messages = problems.ToArray();

        return !messages.Any();
    }

    public void Register()
    {
        if (!Validate()) return;
        ProducedAuthenticationStateProvider p = provider as ProducedAuthenticationStateProvider;
        var result = p.Register(reg.Login, reg.Password, reg.UserName);
        if (result == null)
        {
            using var context = DbFactory.CreateDbContext();
            users = context.Users.ToList();

            reg = new();
        }
        else
        {
            messages = new string[] { result };
        }

    }

    class RegisterVM
    {
        public string UserName { get; set; }
        public string Password { get; set; }
        public string Login { get; set; }
    }

}
