@page "/login"
@inject AuthenticationStateProvider provider
@inject NavigationManager NavManager
@namespace TeacherWebSiteApp.Page.CMS.Users


@*<Form Loading="loading" Model="@TeacherWebSiteApp.Data.Auth.User"
      LabelColSpan="8"
      WrapperColSpan="16"
      OnFinish="OnFinish"
      OnFinishFailed="@messages">
    <FormItem Label="Username">
        <Input @bind-Value="@context.Username" />
    </FormItem>
    <FormItem Label="Password">
        <InputPassword @bind-Value="@context.Password" />
    </FormItem>
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Checkbox @bind-Value="context.RememberMe">Remember me</Checkbox>
    </FormItem>
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            Submit
        </Button>
    </FormItem>
</Form>*@

<div class="container" style="margin-top:270px">
    <ValidationBlock Messages="messages"></ValidationBlock>
    <div class="form-block">
        <center>
            <h4>Вход в CMS</h4>
        </center>
    </div>
    <div style="margin-left: 240px">
        <Row>
            <AntDesign.Col>
                <Input @bind-Value="username" Placeholder="Имя пользователя" Type="text" />
            </AntDesign.Col>
            <AntDesign.Col Style="padding-left: 80px">
                <Input @bind-Value="password" Placeholder="Пароль" Type="password" />
            </AntDesign.Col>
        </Row>
        <Row>
            <AntDesign.Col Style="margin-top: 20px">
                <Button Type="@AntDesign.ButtonType.Primary" @onclick="LogIn">Вход</Button>
            </AntDesign.Col>
        </Row>
    </div>
    
</div>



@code {

    string username;
    string password;

    string[] messages = new string[] { };

    void LogIn()
    {
        ProducedAuthenticationStateProvider p = provider as ProducedAuthenticationStateProvider;
        var result = p.Login(username, password);

        if (result == null)
        {
            NavManager.NavigateTo("/cms", true);
        }
        else messages = new string[] { result };

    }
}
